<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>{% block title %}My Site{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Order Form
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="nav-link" href="/viewprofesional">Professional</a></li>
                <li><a class="nav-link" href="/viewworker">Worker</a></li>
                <li><a class="nav-link" href="/viewitem">Items</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Banner
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="nav-link" href="/viewbanner">View Banner</a></li>
                <li><a class="nav-link" href="/createbanner">Add Banner</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Blog
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="nav-link" href="/viewblog">View Blog</a></li>
                <li><a class="nav-link" href="/createblog">Add Blog</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Logged in as {{user.username}}
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="nav-link" href="/">Homepage</a></li>
                <li><a class="nav-link" href="/logout">Logout</a></li>
              </ul>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
        <div class="col table-responsive">
          <h3>Data Worker</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Pemesan</th>
                <th scope="col">NoTelp</th>
                <th scope="col">Tanggal</th>
                <th scope="col">Layanan</th>
                <th scope="col">Penerima</th>
                <th scope="col">NoTelp</th>
              </tr>
            </thead>
            <tbody>
              {% for item in worker %}
              <tr>
                <th scope="row">{{ item.idwork }}</th>
                <td>{{ item.author.first_name }}</td>
                <td>{{ item.no_telp_pemesan }}</td>
                <td>{{ item.tanggal_ketemu }}</td>
                <td>{{ item.layanan }}</td>
                <td>{{ item.nama_penerima }}</td>
                <td>{{ item.no_telp_penerima }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>